[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
werkzeug = "*"
flask-cors = "*"
waitress = "*"
requests = "*"
flask-sqlalchemy = "*"
fpl = "*"
aiohttp = "*"
asyncio = "*"

[dev-packages]

[requires]
python_version = "3.10"
