[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
werkzeug = "*"
flask-cors = "*"
waitress = "*"
requests = "*"
flask-sqlalchemy = "*"
fpl = "*"
aiohttp = "*"
asyncio = "*"
pyjwt = "*"
datetime = "*"
uuid = "*"
pytest-cov = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.10"
