<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>The exisiting routes on this server are:</h1>
    <ul>
        <li>"/": this home page</li>
        <li>"/allstats" : returns stats of all players</li>
        <li>"/stats/PLAYERNAME": returns stats of the individual player</li>
        <li>"/teams/TEAMNAME": returns all stats of players for a certain team</li>
        <li>"/getuserteam" : POST method, send fpl email, password and user id, returns players team</li>
        <li>"/userplayer/PLAYER_ID" :  returns stats of the individual player</li>
    </ul>
</html>
